<!--Savannah Hogan, Camille Cameron, Tyler Sheffield, Martin Villar, Brendan Bundy, Hannah Johnson-->
<!-- This HTML page displays all the data for a certain missing person when the details button on the
original table is clicked  -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>{{dataDisplay.first_name}} {{dataDisplay.last_name}} Information:</h3>
<table class="chart table table-bordered table-hover table-condensed">
    <tr>
        <th><b>First Name: </b></th>
        <td data-cell="first name">{{dataDisplay.first_name}}</td>
    </tr>
    <tr>
        <th><b>Last Name: </b></th>
        <td data-cell="last name">{{dataDisplay.last_name}}</td>
    </tr>
    <tr>
        <th><b>Date Missing:</b></th>
        <td data-cell="date missing">{{dataDisplay.date_missing}}</td>
    </tr>
    <tr>
        <th><b>Age at Missing: </b></th>
        <td data-cell="age at missing">{{dataDisplay.age_at_missing}}</td>
    </tr>
    <tr>
        <th><b>City: </b></th>
        <td data-cell="city">{{dataDisplay.city}}</td>
    </tr>
    <tr>
        <th><b>State: </b></th>
        <td data-cell="state">{{dataDisplay.state}}</td>
    </tr>
    <tr>
        <th><b>Gender: </b></th>
        <td data-cell="gender">{{dataDisplay.gender}}</td>
    </tr>
    <tr>
        <th><b>Race: </b></th>
        <td data-cell="race">{{dataDisplay.race}}</td>
    </tr>
</table>
{% endblock %}