{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Human Trafficking Awareness</title>
<div class="flex-container"></div>
<h2>Help us fight human trafficking</h2>
<p>Human trafficking is a serious problem that affects millions of people around the world. It involves the exploitation of individuals for forced labor, sexual exploitation, or other forms of abuse.
    Many people are not aware of the extent of this issue, and may not recognize the signs of trafficking when they see them.</p>
<h2>How can we combat human trafficking?</h2>
<ul>
    <li>Contact the National Human Trafficking Hotline at 888-373-7888; Text “BEFREE” to 233733; or Live Chat at humantraffickinghotline.org.</li>
    <li>Contact the Trafficking In Persons (TIP) Program at the Asian Association of Utah (AAU) at 801-467-6060 or trafficking@aau-slc.org . AAU’s TIP program is Utah’s largest and only federally
        funded program specifically tailored to serve victims of all forms of human trafficking regardless of age, gender, and immigration status. They provide victim-centered case management,
        wraparound victim assistance, education, and outreach.</li>
    <li>Visit antitrafficking.aau-slc.org for information on additional service providers serving trafficking victims in Utah, to search the general service directory by zip code, and learn ways to
        get involved in combating human trafficking locally.</li>

</ul>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th title="Field #1">date_missing</th>
            <th title="Field #2">last_name</th>
            <th title="Field #3">first_name</th>
            <th title="Field #4">age_at_missing</th>
            <th title="Field #5">city</th>
            <th title="Field #6">state</th>
            <th title="Field #7">gender</th>
            <th title="Field #8">race</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10/30/2009</td>
            <td>Sharmarice</td>
            <td>Halima</td>
            <td right>14</td>
            <td>Granger</td>
            <td>UT</td>
            <td>F</td>
            <td>W</td>
        </tr>
        <tr>
            <td>10/16/2015</td>
            <td>Martinez</td>
            <td>Kimberly</td>
            <td right>16</td>
            <td>West Valley City</td>
            <td>UT</td>
            <td>F</td>
            <td>M</td>
        </tr>
        <tr>
            <td>07/23/2004</td>
            <td>Gomez</td>
            <td>Brenda</td>
            <td right>3</td>
            <td>Logan</td>
            <td>UT</td>
            <td>F</td>
            <td>H</td>
        </tr>
        <tr>
            <td>05/25/2003</td>
            <td>Bishop</td>
            <td>Acacia</td>
            <td right>1</td>
            <td>Salt Lake City</td>
            <td>UT</td>
            <td>F</td>
            <td>W</td>
        </tr>
        <tr>
            <td>08/03/2020</td>
            <td>Salazar</td>
            <td>Maria</td>
            <td right>14</td>
            <td>Snowville</td>
            <td>UT</td>
            <td>F</td>
            <td>H</td>
        </tr>
        <tr>
            <td>04/09/2020</td>
            <td>Hernandez-Soto</td>
            <td>Peggy</td>
            <td right>6</td>
            <td>Ogden</td>
            <td>UT</td>
            <td>F</td>
            <td>H</td>
        </tr>
        <tr>
            <td>06/24/2021</td>
            <td>Jimenez</td>
            <td>Lucero</td>
            <td right>14</td>
            <td>West Valley City</td>
            <td>UT</td>
            <td>F</td>
            <td>H</td>
        </tr>
        <tr>
            <td>11/08/2013</td>
            <td>Colindres-Avila</td>
            <td>Yuris</td>
            <td right>17</td>
            <td>West Valley City</td>
            <td>UT</td>
            <td>F</td>
            <td>M</td>
        </tr>
        <tr>
            <td>07/15/2021</td>
            <td>Harris</td>
            <td>Kandis</td>
            <td right>16</td>
            <td>Salt Lake City</td>
            <td>UT</td>
            <td>F</td>
            <td>W</td>
        </tr>
        <tr>
            <td>07/30/2006</td>
            <td>Seal</td>
            <td>Jaydan</td>
            <td right>1</td>
            <td>Garleys Wash</td>
            <td>UT</td>
            <td>M</td>
            <td>W</td>
        </tr>
        <tr>
            <td>06/13/2018</td>
            <td>Lizarraga</td>
            <td>Jose</td>
            <td right>13</td>
            <td>West Valley City</td>
            <td>UT</td>
            <td>M</td>
            <td>H</td>
        </tr>
        <tr>
            <td>04/23/2020</td>
            <td>Cortez Trujillo</td>
            <td>Eztli</td>
            <td right>21</td>
            <td>North Ogden</td>
            <td>UT</td>
            <td>M</td>
            <td>H</td>
        </tr>
        <tr>
            <td>10/25/2017</td>
            <td>Fowles</td>
            <td>Juan</td>
            <td right>15</td>
            <td>Lehi</td>
            <td>UT</td>
            <td>M</td>
            <td>M</td>
        </tr>
        <tr>
            <td>08/20/2012</td>
            <td>Garcia</td>
            <td>Isai</td>
            <td right>17</td>
            <td>West Valley City</td>
            <td>UT</td>
            <td>M</td>
            <td>M</td>
        </tr>
        <tr>
            <td>09/01/2015</td>
            <td>Smith</td>
            <td>Macin</td>
            <td right>17</td>
            <td>St. George</td>
            <td>UT</td>
            <td>M</td>
            <td>W</td>
        </tr>
        <tr>
            <td>01/26/2006</td>
            <td>Sisco-Ramirez</td>
            <td>Jose</td>
            <td right>4</td>
            <td>West Valley City</td>
            <td>UT</td>
            <td>M</td>
            <td>M</td>
        </tr>
    </tbody>
</table>
{% endblock %}