<!--Savannah Hogan, Camille Cameron, Tyler Sheffield, Martin Villar, Brendan Bundy, Hannah Johnson-->
<!-- This is the homepage for a human trafficking awarness page which displays basic information and 
    some data. It builds off the base html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Human Trafficking Awareness</title>
<div class="flex-container"></div>
<img src="{% static '/images/protest.jpg'%}" alt="protest" id="protest">
<h2>Help us fight human trafficking</h2>
<p>Human trafficking is a serious problem that affects millions of people around the world. It involves the exploitation of individuals for forced labor, sexual exploitation, or other forms of abuse.
    Many people are not aware of the extent of this issue, and may not recognize the signs of trafficking when they see them.</p>
<h2>How can we combat human trafficking?</h2>
<ul>
    <li>Contact the National Human Trafficking Hotline at 888-373-7888; Text “BEFREE” to 233733; or Live Chat at humantraffickinghotline.org.</li>
    <li>Contact the Trafficking In Persons (TIP) Program at the Asian Association of Utah (AAU) at 801-467-6060 or trafficking@aau-slc.org . AAU’s TIP program is Utah’s largest and only federally
        funded program specifically tailored to serve victims of all forms of human trafficking regardless of age, gender, and immigration status. They provide victim-centered case management,
        wraparound victim assistance, education, and outreach.</li>
    <li>Visit antitrafficking.aau-slc.org for information on additional service providers serving trafficking victims in Utah, to search the general service directory by zip code, and learn ways to
        get involved in combating human trafficking locally.</li>

</ul>
{% endblock %}